    @media (max-width: 990px) {
        .container {
            padding: 1rem 1.5rem;
        }
        #main {
            margin-left: 0px;
            padding: 3rem 1rem;
        }
        .hero--section h1 {
            font-size: 3.5rem;
            line-height: 45px;
        }
        .hero--section p {
            font-size: 0.8rem;
        }
        .hero--section img  {
            width: 100%;
            margin-top: 1rem;
        }
        .hero--section .input--field {
            width: 100%;
        }
       .explore--div {
           border-radius: 0 !important;
       }
        .w-50 {
            width: 100% !important;
        }
        .business-options {
            grid-template-columns: auto;
        }
        /* Main Dashboard  */
        #main--dashboard {
            margin-left: 0;
            padding: 3rem 1rem;
        }
        .main--app--drawer {
            left: -1000px;
        }
        .main--app--drawer.active {
            left: 0;
            width: 70%;
        }
        .button--green {
            padding: 6px 20px;
            font-size: 0.8rem;
        }
        .main--content {
            display: unset;
            grid-template-columns: auto;
        }
        .main--content .left--top {
            margin-top: var(--spacer);
        }
        .mobile--header {
            padding: 0.8rem 1rem;
        }
        .web--nav {
            display: none;
        }
        #main--dashboard {
            margin-left: 0;
            padding: 0.8rem 1rem;
        }
        #dashboard--header {
            margin-left: 0;
            padding: 0.8rem 1rem;
        }
        #side-bar {
            width: 70%;
        }
        .menu--open {
            display: block;
        }
        .menu--close {
            display: block;
        }
        .analytics {
            grid-template-columns: auto;
            grid-gap: 20px;
        }
        .featured--products .content{
            grid-template-columns: 1fr 1fr;
        }
        .cards {
            grid-template-columns: 1fr 1fr;
        }
        .create-post-content {
            width: 80%;
        }
        .mobile--nav {
            display: block;
            width: 80%;
            min-height: 100vh;
            position: fixed;
            z-index: 999;
            background-color: #000;
            top: 0;
            right: -1000px;
        }
        .mobile--nav a {
            font-size: 1.2rem;
            display: block;
            margin-bottom: 1.2rem;
            padding: 0.3rem 2rem;
        }
        .mobile--nav .router-link-exact-active {
            background-color: var(--secondary-color);
        }
        .mobile--nav.active {
            right: 0;
        }
        .menu {
            display: none !important;
        }
        .mobile--menu {
            display: block;
        }
        .body--content {
            grid-template-columns: auto;
        }
        .gallery__img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 240px;
            object-fit: cover;
            object-position: top;
            transition: opacity 0.3s ease-in-out;
          }
          .gallery__thumb {
            padding-top: 6px;
            margin: 6px;
            display: block;
          }
          .gallery__thumb img {
            height: 70px;
            width: 70px;
            border-radius: 5px;
        }
          .plans {
              position: unset;
              width: 100%;
          }
          .image--views img {
            max-width: 100%;
            vertical-align: top;
            /* border-radius: 5px; */
          }
          .select--plan {
              margin-bottom: 1rem;
          }
          .orders--header{
              display: none;
          }
          .mobile-orders-header {
            display: block;
        }
        .message--content {
            width: auto;
        }
        
        .mobile--view {
            display: block;
        }
        .web--view {
            display: none;
        }
}